/* HEADER */
.header {
  width: 100%;
  height: 720px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/img/header/img-background-min.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}
.divBottomHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 245px;
  margin-top: 520px;
}
.divBottomHeader h3 {
  font-family: var(--fontImpact);
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 29px;
  color: var(--whiteText);
  margin-bottom: 15px;
}
.divBottomHeader p {
  font-family: var(--fontParagraph);
  font-size: 21px;
  color: var(--whiteText);
}
.buttonHeader {
  font-family: var(--fontParagraph);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  color: var(--whiteText);
  padding: 10px 80px;
  margin-top: 25px;
  border-radius: 10px;
  border: 2px solid var(--whiteText);
  background-color: rgba(255, 255, 255, 0);
}
.buttonHeader:hover {
  cursor: pointer;
  transform: scale(0.9);
  transition: transform 0.3s ease;
}
@media (max-width: 768px) {
  .header {
    background-image: none;
    max-height: 230px;
    background-color: #000;
  }
  .divBottomHeader {
    display: none;
  }
}
@media (max-width: 480px) {
  .header {
    max-height: 230px;
  }
  .divBottomHeader {
    margin-top: 210px;
  }
  .divBottomHeader p {
    font-size: 17px;
  }
}
