/* NAV BAR */
.navContainer {
  position: fixed;
  width: 100%;
  height: 160px;
  z-index: 1;
}
.navContainer.scrolled {
  background-color: #000; 
}
.divContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 40px auto;
}
.divLogo img {
  width: 200px;
}
.divMenu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  font-family: var(--fontParagraph);
  font-weight: 500;
}
.linkMenu {
  text-decoration: none;
}
.pMenu {
  background-color: #E5E5E4;
  color: var(--blackText);
  padding: 10px;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}
.pMenu:hover {
  background-color: #000;
  color: var(--whiteText);
  border: 2px solid var(--whiteText);
  background-color: #00000000;
}


@media (max-width: 768px) {
  .navContainer {
    position: relative;
  }
  .divContainer {
    flex-direction: column;
  }
  .divLogo {
    margin-bottom: 20px;
  }  
}
