* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --whiteText: #e5e5e4;
  --blackText: #000;
  --yellowText: #f4df53;
  --greyText: #606060;
  --greyText2: #2D2D31;

  --fontParagraph: "Raleway", sans-serif;
  --fontExtra: "Bungee", cursive;
  --fontTitles: "Rubik", sans-serif;
  --fontSections: "Poppins", sans-serif;
  --fontImpact: "Impact", sans-serif;

  --backgroundBlack: #000;
  --backgroundWhite: #e5e5e4;
  --backgroundYellow: #f4df53;
  --backgroundGrey2: #606060;
  --backgroundGrey: #2D2D31;
}
html {
  scroll-behavior: smooth;
  min-width: 400px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body {
  background-color: rgba(0, 0, 0, 0.5);
}